<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NoSqlRepositories.Core" version="1.14.39.0" targetFramework="net452" />
  <package id="NoSqlRepositories.JsonFiles.Net" version="1.14.39.0" targetFramework="net452" />
</packages>